.vscode/*
!/.vscode/rrweb-monorepo.code-workspace
.idea
node_modules
package-lock.json
tsconfig.tsbuildinfo

temp

*.log

.env

.DS_Store

build
dist

.turbo

# `.yarn/install-state.gz` is an optimization file that you shouldn't ever have to commit. 
# It simply stores the exact state of your project so that the next commands can boot without having to resolve your workspaces all over again.
.yarn/install-state.gz

typings
typings-ts3.8
dist-ts3.8
